
.form {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    color: #e07567;
  }
  
  .inputProduct {
    width: 100%;
  }
  .container>div{
    display: flex;
    justify-content: center;
  }
  .container{
    width: 50%;
  }
  .btn{
    display: flex;
    justify-content: center;
  }
  .btn>button:hover{
    background-color: #bd6357;
}
  .addProductBtn{
    background-color:#e07567 ;
  }