
<div class="container"> 
  <div>
    <form class="form">
      <mat-form-field class="inputProduct">
        <mat-label>Nazwa</mat-label>
        <input #productNazwa matInput placeholder="Np. Samsung Smart TV">
      </mat-form-field>
      
      <mat-form-field class="inputProduct">
        <mat-label>Cena</mat-label>
        <input type="number" #productCena matInput placeholder="Np. 100">
      </mat-form-field>
      
      <mat-form-field class="inputProduct">
        <mat-label>Waga</mat-label>
        <input type="number" #productWaga matInput placeholder="Np. 10">
      </mat-form-field>
      
      <mat-form-field class="inputProduct">
        <mat-label>Producent</mat-label>
        <input #productProducent matInput placeholder="Np. Samsung">
      </mat-form-field>
      <div class="btn">
        <button class="addProductBtn" mat-raised-button (click)="create(productNazwa.value, productCena.value,
        productWaga.value, productProducent.value); productNazwa.value=''; productCena.value='';
        productWaga.value=''; productProducent.value=''">Dodaj produkt</button>
      </div>
    </form>
  </div>
</div>
