<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href=""><mat-icon>home</mat-icon></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="addProduct">Dodaj produkt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="productTable">Tablica produktow</a>
        </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>