.container{
    width: 100%;
}
.editProductBtn{
    background-color:#e07567 ;
    float: left;
}
.goBackBtn{
  display: flex;
  float: left;
}
.inputs{
  color:#e07567 ;
  margin-top: 5%;
  width: 25%;
  float: left;
}
mat-form-field>input{
  text-align: center;
}
.btns{
  display: flex;
  justify-content: center;
  width:100%;
}
.btns>.goBackBtn:hover{
  background-color: #2b2a2a;
}
.btns>.editProductBtn:hover{
  background-color: #ac5a4f;
}
.list{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
mat-list-item{
  text-align: center;
  max-width: 25%;
}
  