<div class="container" ng-if="product">
    <mat-list class="list">
        <mat-list-item>{{product.nazwa}}</mat-list-item>
            <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item>{{product.cena}}</mat-list-item>
            <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item>{{product.waga}}</mat-list-item>
            <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item>{{product.producent}}</mat-list-item>
    </mat-list>

    <mat-list>
    <mat-divider></mat-divider>
    </mat-list>

    <div class="inputs">
        <mat-form-field class="inputProduct">
            <mat-label>Nazwa</mat-label>
            <input #productNazwa matInput [(ngModel)]="product.nazwa" placeholder="Nazwa">
        </mat-form-field>
    </div>
    <div class="inputs">
        <mat-form-field class="inputProduct">
            <mat-label>Cena</mat-label>
            <input #productCena matInput [(ngModel)]="product.cena" placeholder="Cena">
        </mat-form-field>
    </div>
    <div class="inputs">
        <mat-form-field class="inputProduct">
            <mat-label>Waga</mat-label>
            <input #productWaga matInput [(ngModel)]="product.waga" placeholder="Waga">
        </mat-form-field>
    </div>
    <div class="inputs">
        <mat-form-field class="inputProduct">
            <mat-label>Producent</mat-label>
            <input #productProducent matInput [(ngModel)]="product.producent" placeholder="Producent">
        </mat-form-field>
    </div>
      
    <div class="btns">
        <button class="goBackBtn" mat-raised-button (click)="goBack()">Cofnij zmiany</button>
        <div style="width: 10px;"></div>
        <button class="editProductBtn" mat-raised-button (click)="update(productNazwa.value, productCena.value,
        productWaga.value, productProducent.value);">Zapisz zmiany</button>
    </div>
</div>