<div class="container">
<mat-form-field class="filtr">
  <mat-label>Wyszukaj produkt</mat-label>
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Np. Samsung">
</mat-form-field>
 <table class="mat-elevation-z8" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="btnDelete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="btnAdd">
          <button mat-mini-fab color="warn" (click)="delete(element)">
            <mat-icon>clear</mat-icon>
          </button>
        </div></td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="nazwa">
      <th mat-header-cell *matHeaderCellDef> Nazwa </th>
      <td mat-cell *matCellDef="let element"> {{element.nazwa}} </td>
    </ng-container>
    <ng-container matColumnDef="cena">
      <th mat-header-cell *matHeaderCellDef> Cena(zł) </th>
      <td mat-cell *matCellDef="let element"> {{element.cena}} </td>
    </ng-container>
    <ng-container matColumnDef="waga">
      <th mat-header-cell *matHeaderCellDef> Waga(kg) </th>
      <td mat-cell *matCellDef="let element"> {{element.waga}} </td>
    </ng-container>
    <ng-container matColumnDef="producent">
      <th mat-header-cell *matHeaderCellDef> Producent </th>
      <td mat-cell *matCellDef="let element"> {{element.producent}}</td>
    </ng-container>
    <ng-container matColumnDef="btnEdit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="btnEdit">
          <a mat-raised-button color="primary" routerLink="/editProduct/{{element.id}}">
            <span>Edytuj</span>
          </a>
        </div></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="btn">
    <button [routerLink]="'/addProduct'" class="addProductBtn" mat-raised-button>Dodaj produkt</button>
  </div>
</div>