h2, li{
    color: #cfc0c0;
}
.container{
    width: 100%;
}
table{
    width: 100%;
}
.filtr{
    width: 100%;
    color: #e07567;
}
.btn{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.btn>button:hover{
    background-color: #232222;
}
.btnDelete {
    display: flex;
    justify-content: center;
    width: 15px;
}
.btnDelete:hover{
    background-color: #f44336;
}
.btnEdit{
    width: 60px;
}
a:hover{
    text-decoration: none;
    background-color: #a2134b;
}
.btnAdd>button:hover{
    background-color: #b73127;
}